html {font-size: 62.5%}

body {
    font-family: 'News Cycle', sans-serif;
	background-color: #F2F2F2;
	color: #666;
	font-size: 1.6rem;
}

nav a, h1, h2, h3, h4 {
    font-family: 'Signika', sans-serif;
}

h2 {
    font-size : 4rem;
}

h3 {
    font-size : 2.25rem;
}

.top_head_banner {
    font-family: 'News Cycle', sans-serif;
	background-color: #999;
    /* color: #F2F2F2; */
    color: #fef6eb;
    font-size: 1.6rem;
    text-align: center;
}

.top_head_banner a{
    /* color: #F2F2F2; */
    color: #fef6eb;
    text-decoration: none;
}

.real-header, .concept {
    background-image: url('../img/background01.jpg');
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
	background-position: center center;
}

#logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;
}

header nav {
	display: flex;
	justify-content: space-between;
    /*padding: 0.75rem 1rem;*/
    margin: 1rem 5rem;
    background-color: #999;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header nav a {
    /* color: white; */
    color: #fef6eb;
    padding: 1rem 1rem;
    /*text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    background-color: #999;
    text-decoration : none;
}

header nav a:first-of-type {
    background-color: #666;
}

header nav a:hover {
	background-color: #F2F2F2;
    color: #333;
    text-decoration : none;
}


.banner {
    margin : 10rem;
    padding: 5rem 0 10rem;
    
}

.presentation {
    background-image: url('../img/01.jpg');
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
	background-position: center center;
	background-color: #888;
	color: white;
}


.presentation p:first-of-type {
    color: #888;
    font-size: 3rem;
}

.presentation h1 {
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	font-size: 5rem;    
}

.presentation p:last-of-type {
    color: rgb(182, 69, 69);
    font-size: 3rem;
    text-transform: uppercase;    
}

.concept, .welcome, .instagram, .facebook, footer {
    padding-top : 4rem;
    padding-bottom : 4rem;
}

.concept i.fa {
    /*color : white;*/
    color: #fef6eb;
    text-align: center;
    background-color:rgb(182, 69, 163) ;
    border-radius : 50%;
    font-size: 4rem;
    padding: 2rem;
    height: 8rem;
    width: 8rem;
}

.welcome, .instagram, .facebook, .contact {
    background-color: #fef6eb;
}

.espace {
    margin-bottom: 2rem;
}

.instagram, .facebook {
    text-align: center;
}

.instagram img {
    width: 20rem;
    padding: 1rem;
    
}

.facebook-title {
    padding-bottom : 2rem;
}


.contact i.fa {
	color: rgb(182, 69, 163);

} 

.contact {
    text-align: center;
}

.contact a {
	text-decoration: none;
	padding: 0 1.5rem 0 1.5rem;
}

.contact a:hover{
  	color: #fef6eb; 
}

.contact form input, .contact form textarea, .contact form textarea:active {
   	border-bottom: 1px solid grey;
   	border-top: none;
   	border-left: none;
   	border-right: none; 
   	margin: 1.5rem auto 1.5rem;
   	background-color: #fef6eb ;
    color: #888;
    text-align: center;
    font-size : unset;
}

.contact form input{
	width: 55%;
	margin: auto;
}

.contact button{
	border: 1px solid grey;
   	background-color: #888;
    color: #f0f0e6;
    font-size: unset;
       
}

.contact button:hover {
	background-color: #f0f0e6;
	color: #888;
}

.contact fieldset  {
	width: 50%;
	margin: 1.5rem auto 2rem;
	border-radius: 10px;
}

.contact form {
	padding-top: 2rem;
	margin-bottom: 5rem;
}


footer {
    background-image: url('../img/background02.jpg');
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
	background-position: center center;
}

